# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

node_modules

# vscode java extension
bin/
.settings
.classpath
.project

# external application configuration
/config
