<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TO2 : 주소를 줄여드립니다</title>

  <link rel="stylesheet" th:href="@{/styles/reset.css}">
  <link rel="stylesheet" th:href="@{/styles/style.css}">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
  <main>
    <h1 id="title">주소를 줄여드립니다</h1>
    <p id="project-description">이 서비스는 <a href="#" id="zerohouse">ZEROHOUSE</a>에서 <a href="https://github.com/Team-ZeroHouse/to2.kr-server">오픈소스 프로젝트</a>로 진행하였습니다</p>
    
    <figure id="figure">
      <img th:src="@{/images/before.svg}" alt="before" />
    </figure>
    <p id="warning-text">
      <img th:src="@{/images/warning.svg}" alt="warning" />
      반드시 https(s)를 포함한 주소(최대500자)를 입력하세요.
    </p>
    <form id="form" action="#" method="POST">
      <input type="text" name="url" placeholder="주소를 입력해주세요" />
      <input type="hidden" name="recaptcha" />

      <p id="recaptcha-description">
        This site is protected by reCAPTCHA and the Google
        <a href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a href="https://policies.google.com/terms">Terms of Service</a> apply.
      </p>
    </form>

    <!-- <script src="https://www.google.com/recaptcha/api.js?render="></script> -->
    <script th:src="@{/js/app.js}"></script>
  </main>
</body>
</html>
