body {
  font-family: 'Noto Sans KR', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;

  font-weight: 400;
  line-height: 1.2;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 510px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0.8rem;
}

strong {
  font-weight: 500;
}

#title {
  position: relative;

  margin-top: 2.3rem;
  margin-bottom: 0.8rem;

  color: #FF8600;
  font-weight: 300;
  font-size: 1.9rem;
}
#title strong {
  font-weight: 500;
}
#title img {
  position: absolute;
  top: -2.3rem;
  right: 2rem;
}

#project-description {
  color: #606060;
  font-size: 0.8rem;
  line-height: 1.5;
}

#question {
  margin-top: 4rem;
}
