body {
  font-family: 'Noto Sans KR', sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  max-width: 100%;

  font-weight: 400;
  line-height: 1.2;
}

html, body {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 510px;
  max-width: 100%;
  max-height: 100%;
  overflow-y: auto;
  padding: 0.8rem;
}

#title {
  position: relative;

  margin-top: 2.3rem;
  margin-bottom: 0.8rem;

  color: #FF8600;
  font-weight: 300;
  font-size: 2rem;
  letter-spacing: -2px;
}
#title strong {
  font-weight: 500;
}
#title img {
  position: absolute;
  top: -2.3rem;
  right: 3rem;
}

#figure {
  flex-shrink: 0;
  position: relative;
  width: 161px;
  height: 167px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
#figure img {
  position: absolute;
  top: 0;
  left: 0;
  flex-shrink: 0;
}
#figure.animate img {
  transition: opacity 1s ease;
}
#figure:not(.done) img[alt=after] {
  opacity: 0;
}
#figure.done img[alt=before] {
  opacity: 0;
}

#warning-text {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-top: 1rem;
  margin-bottom: 2rem;

  font-weight: 300;
  color: #606060;
}
#warning-text img {
  margin-left: 0.2rem;
  margin-right: 0.5rem;
}

#form {
  width: 100%;
}

#input {
  position: relative;
  overflow: hidden;

  border: 1px solid #D8D8D8;
  border-radius: 8px;
}
#input.correct {
  border: 2px solid #FF8600;
}
#input.correct input {
  color: #FF8600;
  font-weight: 700;
}
#input.wrong {
  border: 2px solid #ff0000;
}

#input input {
  width: 100%;
  padding: 1rem;
  padding-right: 3rem;

  border: none;
  outline: none;
}
#input input::placeholder {
  color: rgba(96, 96, 96, 0.5);
  opacity: 1;
}
#input input:-ms-input-placeholder {
  color: rgba(96, 96, 96, 0.5);
}

#input img {
  height: 2rem;
}
#input button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}
#input:not(.correct) button {
  display: none;
}
@keyframes rotation {
  25% { transform: rotate(-45deg); }
  50% {  transform: rotate(0deg); }
  75% {  transform: rotate(45deg); }
}
#input.process img {
  animation: rotation 1s linear infinite;
}

#message {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5rem;
  background-color: #ffffff;
  color: #FF8600;
  cursor: pointer;

  transition: top 500ms ease;
}
#message.show {
  top: 0;
}
#message.error {
  color: #FF0000;
}

#result {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin-top: 1rem;
  padding: 1rem;

  border-radius: 8px;

  background-color: #FF8600;
}
#result:not(.show) {
  display: none;
}

#shorten-url {
  color: #ffffff;
}
#clipboard {
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  height: 2rem;
  cursor: pointer;
}
#clipboard:not(.copy) .check {
  display: none;
}

#description {
  width: 100%;
}
#description p {
  margin-bottom: 0.5rem;

  color: #A4A4A4;
  font-size: 0.65rem;
}
#description p:last-child {
  margin-bottom: unset;
}
#description a {
  color: #FF8600;
}

.grecaptcha-badge {
  visibility: hidden;
}
